{% extends 'base.html.twig' %}

{% block body %}
    <section class="row">
        {% for cheese in cheeses  %}
            {{ cycle(['<div class="col flex-row bg-brown2">', ''], loop.index0)|raw }}
                <div>
                    {{ cheese.name }}
                    {{ cheese.description }}
                    <img src="{{ asset('build/assets/images/svg/mouse.svg') }}" alt="mouse">
                </div>
            {{ cycle(['</div>', ''], loop.index0)|raw }}
        {% endfor %}
    </section>
{% endblock %}