{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner">
        <img src="https://res.cloudinary.com/ds8br8lm0/image/upload/v1540589980/fromton/grapes-1148950_1920.png" alt="Bannière">
        <h2 class="l1">Plus ça pue,</h2>
        <h2 class="l2">plus c'est bon</h2>
    </div>
    <section class="container-fluid">
        <div class="row mt-5">
            {% for cheese in cheeses  %}
                {% if loop.index == 1 or loop.index == 3 %}<div class="col-4 flex-row">{% endif %}
                <div class="col home home__cheese">
                    <h4 class="home home__cheese__title">{{ cheese.name }}</h4>
                    <div class="row pt-4">
                        <div class="col-4">
                            <img src="https://res.cloudinary.com/ds8br8lm0/image/upload/d_unknown-cheese.png/v1540586741/fromton/{{ cheese.slug }}.png" alt="{{ cheese.name }}" class="home home__cheese__img">
                        </div>
                        <div class="col-8">
                            <p>{{ cheese.category.name }} - {{ cheese.animal.name }}</p>
                            <p><i class="fa fa-map-marker"></i> {{ cheese.location.name }} - {{ cheese.location.country.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="home__cheese__rating">
                                <div class="rating" data-rating="{{ cheese.rating }}"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <a class="home__cheese__link link text-beige2" href="{{ url('cheese_show', {slug: cheese.slug}) }}">Notez-le !</a>
                        </div>
                    </div>
                </div>
                {% if loop.index % 2 == 0 %}</div>{% endif %}
            {% endfor %}
            <div class="col-4">
                {%  include 'components/cheeseOfTheWeek.html.twig' with {'cheese' : cheeseOfTheWeek } only %}
            </div>
        </div>
    </section>
{% endblock %}