{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="show__cheese__title">{{ cheese.name }}</h1>
                <p class="show__cheese__description">{{ cheese.description }}</p>
                User : <div class="show__cheese__rating--user" data-rating="{{ rating }}" data-cheese="{{ cheese.id }}"></div>
                Moyenne : <div class="show__cheese__rating--global" data-rating="{{ globalRating }}">}</div>
                <a href="{{ path('cheese_like', {'id': cheese.id})}}">Like</a>
            </div>
        </div>
    </section>
{% endblock %}