{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="container">
        <div class="row justify-content-md-center">
            <form action="{{ path('security_login') }}" method="post">
                <fieldset>
                    <h2><i class="fa fa-lock" aria-hidden="true"></i> Connexion</h2>
                    <div class="form-group fb">
                        <a href="{{ path('connect_facebook') }}" class="btn btn-social btn-facebook btn-block btn-lg"><i class="fab fa-facebook-f"></i>Se connecter avec facebook</a>
                    </div>
                    <div class="form-group fb">
                        <a href="{{ path('connect_google') }}" class="btn btn-social btn-google-plus btn-block btn-lg"><i class="fab fa-google-plus-g"></i>Se connecter avec Google</a>
                    </div>
                    <div class="ou"><span>ou</span>
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>

                    {#<div class="form-group">#}
                        {#<input type="checkbox" id="remember_me" name="_remember_me" class="form-control" checked />#}
                        {#<label for="remember_me">Keep me logged in</label>#}
                    {#</div>#}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter
                    </button>
                </fieldset>
            </form>
        </div>
    </div>


{% endblock %}